ipykernel
python-dotenv
langchain
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
langchain-google-genai
chromadb
ollama
sentence-transformers
langchain-huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
colab-xterm
langchain-groq
langchain-core